.container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;

  .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .detailsBets {

      .tinyTitle {
        color: var(--darktextgray);
        font-size: 9px;
        margin-bottom: 2px;
      }

      .bigTitle {
        color: var(--whitetext);
        font-size: 19px;
      }
    }

    .optionsContainer {
      display: flex;
      flex-direction: row;
      gap: 15px;
      margin-right: 15px;

      .buttonContainer {
        cursor: pointer;
        display: flex;
        border: solid 1px var(--darktextgray);
        align-items: center;
        padding: 4px 7px;
        font-size: 13px;
        border-radius: 5px;

        .buttonImage {
          max-width: 18px;
          margin-left: 6px;
          margin-top: 2px;
        }

        &:hover {
          background-color: var(--navbargray);
        }
      }
    }
  }

  .line {
    width: 100%;
    background-color: var(--darktextgray);
    height: 1px;
    margin: 15px 0px;
  }

  .dataContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--navbargray);
    padding: 15px;
    border-radius: 15px;

    .overviewLine {
      width: 100%;
      height: 1px;
      background-color: var(--darktextgray);
    }

    .overviewContainer {
      padding-top: 5px;
      padding-bottom: 15px;

      .title {
        font-size: 18px;
      }
    }

    .copyContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0px;

      .title {
        font-size: 16px;
      }

      .centerData{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .rowContainer {
          display: flex;

          .imageContainer {
            cursor: pointer;
            margin-right: 7px;
            margin-top: 0px;
          }

          .data {
            font-size: 10px;
            color: var(--datacolor);
          }
        }
      }
    }

    .noCopyContainer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 0px;

      .title {
        font-size: 16px;
      }

      .centerData{
        display: flex;
        flex-direction: column;
        justify-content: center;

        .data {
          font-size: 10px;
          color: var(--datacolor);
        }
      }
    }
  }

  .resultsDetailsContainer {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: var(--navbargray);
    padding: 15px;
    border-radius: 15px;
    margin-top: 10px;

    .header {
      display: grid;
      grid-template-columns: 1fr 1fr;
    
      .leftSide {
        display: flex;
        flex-direction: row;

        .arrow {
          margin-left: 7px;
        }
      }

      .rightSide {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .successContainer {
          max-width: 54px;
          max-height: 30px;
        }
      }
    }
  }
}