.centerContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: var(--backgroundgray);

  .container {
    width: 80%;
    height: auto;
    padding-bottom: 50px;
  }
}