@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900;1000&display=swap");

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--backgroundgray);

  .columnContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 50px;

    .squareContainer {
      width: 30vw;
      background-color: var(--navbargray);
      padding: 30px 50px 30px 50px;
      border-radius: 10px;
      box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.15);

      .logoContainer {
        border-radius: 100px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;

        .centerContainer {
          cursor: pointer;
          transition: 0.5s;

          &:hover {
            filter: brightness(130%);
          }
        }
      }

      .title {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
      }

      .formContainer {
        display: flex;
        flex-direction: column;
        font-family: "Recursive", sans-serif;
        font-size: 14px;

        .emailContainer {
          margin-bottom: 20px;

          .label {
            color: #515151;
            margin: 0px 0px 5px 10px;
          }

          .emailInput {
            width: 100%;
            padding: 10px 0px 10px 8px;
            border: 1px solid var(--backgroundgray);
            border-radius: 10px;
            background: transparent;
            outline: transparent;
          }
        }

        .passwordContainer {
          margin-bottom: 20px;

          .label {
            color: #515151;
            margin: 0px 0px 5px 10px;
          }

          .row {
            display: flex;
            flex-direction: row;
            border: 1px solid var(--backgroundgray);
            border-radius: 10px;
            background: transparent;
            outline: transparent;

            .passwordInput {
              width: 100%;
              padding: 10px 0px 10px 8px;
              border-radius: 10px;
              background: transparent;
              outline: transparent;
              border: transparent;
            }

            .eyeContainer {
              cursor: pointer;
              display: flex;
              flex-direction: column;
              justify-content: center;
              background: var(--navbargray);
              border-radius: 10px;
              margin-right: 5px;

              .eyeImage {
                transition: 0.5s;
                
                &:hover {
                  filter: brightness(70%);
                }
              }
            }

            .errorContainer {
              position: absolute;
              margin-top: 20px;
              z-index: 1;
            }
          }
        }

        .checkContainer {
          display: flex;
          flex-direction: row;
          color: #515151;
          margin-bottom: 40px;

          .checkBoxContainer {
            cursor: pointer;
            transition: 0.5s;

            &:hover {
              filter: brightness(70%);
            }
          }

          .text {
            margin-left: 10px;
            margin-top: 2px;
          }
        }

        .buttonContainer {
          cursor: pointer;
          background: #41f200;
          padding: 1px;
          border-radius: 10px;
          font-family: Rubik, sans-serif;
          margin: 10px 0px 40px 0px;

          .button {
            text-align: center;
            font-size: 18px;
            color: #41f200;
            background-color: var(--navbargray);
            padding: 14px 0px;
            border-radius: 10px;
            transition: 0.3s;

            &:hover {
              background: transparent;
              color: #1e1e1e;
            }
          }
        }

        .centerForgot {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          margin-bottom: 20px;

          .forgot {
            color: var(--textgray);

            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }

        .registerContainer {
          color: var(--textgray);
          text-align: center;
          font-size: 14px;
          font-family: Rubik, sans-serif;

          :is(span) {
            color: #41F200;

            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
