.container {
  width: 100vw;
  padding: 0px 0px 50px 0px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .cardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}